@charset "UTF-8";

html {
  font-size: 62.5%;
}
body {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
}
a {
  color: #000;
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/*-------------------------------------------
header
-------------------------------------------*/
.header {
  box-shadow: 0px 10px 10px -5px rgb(204 204 204 / 30%);
  padding: 0 20px 10px;
  margin: 10px 0;
}
.header h1 {
  font-size: 4rem;
  font-weight: 700;
}
/*-------------------------------------------
common
-------------------------------------------*/
.common-title {
  font-size: 3.2rem;
  margin: 26px 0;
  text-align: center;
  font-weight: 700;
}
span {
  color: #00abae;
}
.section-container {
  margin: 100px 0;
}
/*-------------------------------------------
profile
-------------------------------------------*/
.profile {
  text-align: center;
}
.profile-content {
  max-width: 348px;
  margin: 0 auto;
}
.fv {
  width: 166px;
}
.main-title {
  font-size: 2.4rem;
  margin: 20px 0 30px;
}
.profile-language {
  text-align: start;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.profile-txt {
  text-align: start;
  font-size: 1.5rem;
}
.icon-list {
  max-width: 247px;
  display: flex;
  justify-content: center;
  margin: 30px auto;
  align-items: center;
}
.icon-list li {
  margin-right: 22px;
}

/*-------------------------------------------
works
-------------------------------------------*/
.works {
  margin: 80px 0 0;
}
.work-list {
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  max-width: 1076px;
}
.work-list li {
  margin-right: 15px;
  width: 100%;
  display: block;
}
.work-list li:last-child {
  margin-right: 0;
}
.work-list img {
  border: solid 1px #ccc;
  width: 100%;
}
.works-title {
  font-size: 2.4rem;
  margin: 10px 0;
  font-weight: 700;
}
.works-language {
  font-size: 1.8rem;
}
.link {
  display: flex;
  margin-top: 15px;
}
.link a {
  background-color: gray;
  padding: 5px 20px;
  margin-right: 10px;
  background-color: rgb(226, 226, 226);
  font-size: 1.5rem;
}
/*-------------------------------------------
footer
-------------------------------------------*/
footer p {
  margin: 50px 0 20px;
  text-align: center;
  font-size: 1.5rem;
}

/*-------------------------------------------
SP仕様
-------------------------------------------*/
@media screen and (max-width: 766px) {
  /* common---------------------*/
  .section-container {
    margin: 50px 0;
  }
  .common-title {
    font-size: 2.4rem;
  }
  /* header ---------------------*/
  .header {
    padding: 0 10px 10px;
    box-shadow: 0px 8px 8px -5px rgb(204 204 204 / 30%);
  }
  .header h1 {
    font-size: 3.1rem;
  }
  /* profile---------------------*/
  .profile {
    padding: 0 10px;
  }
  .fv {
    width: 166px;
  }
  .profile-content {
    max-width: 100%;
    margin: 0;
  }
  .main-title {
    font-size: 1.8rem;
  }
  .icon-list img {
    max-width: 100%;
  }
  .profile-language {
    font-size: 1.5rem;
  }
  .icon-list li:first-child {
    width: 55px;
    height: 52px;
  }
  .icon-list li:last-child {
    width: 56px;
    height: 46px;
  }
  /* works--------------------*/
  .works {
    margin: 60px 0 0;
    padding: 0 10px;
  }
  .works-language {
    font-size: 1.4rem;
  }
  .work-list {
    flex-direction: column;
  }
  .work-list li {
    margin-bottom: 30px;
  }
  .work-list li h3 {
    font-size: 2rem;
    margin: 5px 0;
  }
}
